*{
      margin: 0px;
      padding: 0px;
      box-sizing: border-box;
}
body{
      font-family: 'Roboto', serif;;
}
.header{
      background-color: rgba(255, 255, 255, 0.7);
    
}
.container{
      /* max-width: 1300px; */
      padding-left: 25px;
      padding-right: 25px;
}
.navbar{
      /* background-color: aqua; */
      height: 75px;
     
}
.nav-list{
      height: 100%;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      gap: 30px;
      margin-right: 200px;
} 
ul li a{
      font-size:large;
      /* font-weight: bold; */
      text-decoration: none;
      color: #555;
}
ul li{
      list-style: none;
     
}
.col1 p{
      color: #555;
}
.main-section{
      width: 100%;
      margin-top: 50px;
      display: flex;
}
.col1 , .col2{
      width: 50%;
      
}
.col2 img{
   /* width: 100%; */
     width: 90%;
    object-fit: contain;
    filter: drop-shadow(0 10px 20px rgba(0,0,0,0.3));
}
.col1{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
}
.col1 h1{
      font-size: 50px;
      line-height: 60px;
      margin: 25px 0;
}
.col1 p{
      font-size: 25px;
}
