
            body{
                  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  background-color: #f0f0f0;
            }
            #second-container{
                  display: flex;
                  flex-direction: row;
                  justify-content: center;
                  align-items: center;
                  gap: 10px;
            }
            #clear-btn,#resize-btn{
                  background-color: #2187ab;
                  border: none;
                  color: white;
                  border-radius: 5px;
                  padding: 5px;
            }
            #grid-container{
                  display: grid;
               margin: 20px;
               border: 1px solid black;
            }
            .pixel{
                  height: 20px;
                  width: 20px;
                  border: 1px solid #bbb;
                  box-sizing: border-box;
            }
      