
     
      *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
      }
      .gallary{
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            flex: 1;
            gap: 10px;
            justify-content:space-around;
      }
      .gallary img{
            width: 350px;
            height: 300px;
            object-fit: cover;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);   
           
      }
      h1{
            text-align: center;
            margin: 20px;
      }
       .scrollable{
            display: flex;
            overflow-x: scroll;
            gap: 10px;
            border-bottom: 2px solid rgb(196, 193, 193);
            border-top: 2px solid rgb(196, 193, 193);
           
       }
       .scrollable::-webkit-scrollbar{
            display: none;
       }
      .scrollable img{
            height: 300px;
            width: 300px;
            object-fit: cover;
            border-radius: 10px;
            padding: 5px;
            
      }

     
      .bolls{
            width: 20px;
            height: 20px;
            background-color: teal;
           margin-right: 3px;
            border-radius: 100%;
            display: inline-block;
            animation: boll 10s linear 0s infinite alternate ;
            
      }
      @keyframes boll{
            0%{
                  transform: translateX(0vw);
                  background-color: teal;
            }
             50%{
                  transform: translateX(50vw);
                  background-color: teal;
            }
             100%{
                  transform: translateX(100vw);
                  background-color: teal;
            }
      }
      h2{
            text-align: center;
            margin: 20px;
      }
    
     